if SHIELD_GMN_TEST

config ZMK_KEYBOARD_NAME
    default "gmn_test"

# Mouse: stick + left/right click
config ZMK_POINTING
    default y

# Analog stick (badjeff/zmk-analog-input-driver)
config ADC
    default y

config ANALOG_INPUT
    default y

config INPUT
    default y

# SSD1306 display (текстовий статус: шар, батарея, USB/BLE)
config ZMK_DISPLAY
    default y

config I2C
    default y

endif # SHIELD_GMN_TEST
